%h1 StaticPages#contact
%p Find me in app/views/static_pages/contact.html.haml
%p
  Lorem ipsum dolor sit amet, diam efficiendi intellegam pro ei, ei agam vitae dignissim pri. Ius doming commodo consetetur eu. Te dicant menandri ullamcorper has, ius hinc aeterno id, ut sea saepe euismod blandit. An fugit officiis eam. An dolorum appellantur per. Elaboraret dissentias et qui.
%p
  Cu ius homero nonumy democritum, atqui detracto mel cu. Mea ad semper timeam referrentur, bonorum sanctus appellantur nec ne, sea ut laoreet detraxit. Fugit necessitatibus pri te. Has nihil zril intellegat ut. Ex pro ignota feugait voluptua, ei aperiam malorum scribentur quo. Case accommodare his et, mei ut nisl velit referrentur, graece quaeque oportere ei vis.
%h2
  Test test
%p
  Lorem ipsum dolor sit amet, diam efficiendi intellegam pro ei, ei agam vitae dignissim pri. Ius doming commodo consetetur eu. Te dicant menandri ullamcorper has, ius hinc aeterno id, ut sea saepe euismod blandit. An fugit officiis eam. An dolorum appellantur per. Elaboraret dissentias et qui.
%p
  Cu ius homero nonumy democritum, atqui detracto mel cu. Mea ad semper timeam referrentur, bonorum sanctus appellantur nec ne, sea ut laoreet detraxit. Fugit necessitatibus pri te. Has nihil zril intellegat ut. Ex pro ignota feugait voluptua, ei aperiam malorum scribentur quo. Case accommodare his et, mei ut nisl velit referrentur, graece quaeque oportere ei vis.

%p
  Lorem ipsum dolor sit amet, diam efficiendi intellegam pro ei, ei agam vitae dignissim pri. Ius doming commodo consetetur eu. Te dicant menandri ullamcorper has, ius hinc aeterno id, ut sea saepe euismod blandit. An fugit officiis eam. An dolorum appellantur per. Elaboraret dissentias et qui.
%p
  Cu ius homero nonumy democritum, atqui detracto mel cu. Mea ad semper timeam referrentur, bonorum sanctus appellantur nec ne, sea ut laoreet detraxit. Fugit necessitatibus pri te. Has nihil zril intellegat ut. Ex pro ignota feugait voluptua, ei aperiam malorum scribentur quo. Case accommodare his et, mei ut nisl velit referrentur, graece quaeque oportere ei vis.
%p
  Lorem ipsum dolor sit amet, diam efficiendi intellegam pro ei, ei agam vitae dignissim pri. Ius doming commodo consetetur eu. Te dicant menandri ullamcorper has, ius hinc aeterno id, ut sea saepe euismod blandit. An fugit officiis eam. An dolorum appellantur per. Elaboraret dissentias et qui.
%p
  Cu ius homero nonumy democritum, atqui detracto mel cu. Mea ad semper timeam referrentur, bonorum sanctus appellantur nec ne, sea ut laoreet detraxit. Fugit necessitatibus pri te. Has nihil zril intellegat ut. Ex pro ignota feugait voluptua, ei aperiam malorum scribentur quo. Case accommodare his et, mei ut nisl velit referrentur, graece quaeque oportere ei vis.
%p
  Lorem ipsum dolor sit amet, diam efficiendi intellegam pro ei, ei agam vitae dignissim pri. Ius doming commodo consetetur eu. Te dicant menandri ullamcorper has, ius hinc aeterno id, ut sea saepe euismod blandit. An fugit officiis eam. An dolorum appellantur per. Elaboraret dissentias et qui.
%p
  Cu ius homero nonumy democritum, atqui detracto mel cu. Mea ad semper timeam referrentur, bonorum sanctus appellantur nec ne, sea ut laoreet detraxit. Fugit necessitatibus pri te. Has nihil zril intellegat ut. Ex pro ignota feugait voluptua, ei aperiam malorum scribentur quo. Case accommodare his et, mei ut nisl velit referrentur, graece quaeque oportere ei vis.

%p
  Lorem ipsum dolor sit amet, diam efficiendi intellegam pro ei, ei agam vitae dignissim pri. Ius doming commodo consetetur eu. Te dicant menandri ullamcorper has, ius hinc aeterno id, ut sea saepe euismod blandit. An fugit officiis eam. An dolorum appellantur per. Elaboraret dissentias et qui.
%p
  Cu ius homero nonumy democritum, atqui detracto mel cu. Mea ad semper timeam referrentur, bonorum sanctus appellantur nec ne, sea ut laoreet detraxit. Fugit necessitatibus pri te. Has nihil zril intellegat ut. Ex pro ignota feugait voluptua, ei aperiam malorum scribentur quo. Case accommodare his et, mei ut nisl velit referrentur, graece quaeque oportere ei vis.

%p
  Lorem ipsum dolor sit amet, diam efficiendi intellegam pro ei, ei agam vitae dignissim pri. Ius doming commodo consetetur eu. Te dicant menandri ullamcorper has, ius hinc aeterno id, ut sea saepe euismod blandit. An fugit officiis eam. An dolorum appellantur per. Elaboraret dissentias et qui.
%p
  Cu ius homero nonumy democritum, atqui detracto mel cu. Mea ad semper timeam referrentur, bonorum sanctus appellantur nec ne, sea ut laoreet detraxit. Fugit necessitatibus pri te. Has nihil zril intellegat ut. Ex pro ignota feugait voluptua, ei aperiam malorum scribentur quo. Case accommodare his et, mei ut nisl velit referrentur, graece quaeque oportere ei vis.
%p
  Lorem ipsum dolor sit amet, diam efficiendi intellegam pro ei, ei agam vitae dignissim pri. Ius doming commodo consetetur eu. Te dicant menandri ullamcorper has, ius hinc aeterno id, ut sea saepe euismod blandit. An fugit officiis eam. An dolorum appellantur per. Elaboraret dissentias et qui.
