@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Raleway);

* {
	margin: 0px;
	padding: 0px;
}
$coldef: #77A8CB;
$colhigh: #00F3FF;

html {
	body {
		background-image: image-url("bak.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		margin: 30px auto;
		width: 70%;
		font-family: 'Raleway', sans-serif;
		padding: 10px;
		min-height: 600px;
		.navbar-inverse {
			.navbar-brand {
				color: $coldef;
				&:hover, &:focus {
					color: $colhigh;
				}
			}
			.navbar-nav {
				>li {
					> a {
						color: $coldef;
						&:hover, &:focus {
							color: $colhigh;
						}
					}
				}
			}

		}
		.alert-alert {
			@extend .alert-danger;
		}
		.alert-notice {
			@extend .alert-success;
		}
		footer {
			background-color: #222222;
			padding: 10px 10px;
			border-top: 1px solid black;
			.footer-right {
				float: right;
			}
			cite {
				color: #EF530B;
			}
		}
		.alert {
			margin: 20px 0;
		}
		.alert-alert {
			@extend .alert-danger;
		}
		.alert-notice {
			@extend .alert-success;
		}
		.main {
			padding: 5px;
			opacity: 0.9;
			font-size: 16px;
			#tag_cloud {
				width: 400px;
				opacity: 0.7;
				background-color: #fff;
				width: 100%;
				padding: 5px;
				border: 2px solid #6FEBE7;
				border-radius: 5px;
				a {
					color: #000;
				}
				line-height: 1.6em;
				.s { font-size: 0.8em; }
				.m { font-size: 1.2em; }
				.l { font-size: 1.8em; }
			}
			h1 {
				color: #F61C08;
				font-size: 36px;
			}
			h2 {
				padding-left: 10px;
				color: #0346FE;
			}
			h3 {
				padding-left: 15px;
				color: #298A08;
			}
			background-color: #1C1C1C;
			color: #1CDD19;
			p {
				padding: 0 10px;
				img {
					max-width: 100%;
					padding: 4px;
					background-color: #E4DBDB;
					border-radius: 5px;
				}
			}
			.art-meta {
				display: inline-block;
				width: 49%;
				color: #04B4AE;
				text-align: center;
			}
			article > h2 {
				text-align: center;
				text-transform: capitalize;
			}
			.flickr_pagination {
				text-align: center;
				width: 100%;
				padding: 0.3em;
				cursor: default;
				}
				.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
					padding: 0.2em 0.5em;
				}
				.flickr_pagination .disabled {
					color: #aaaaaa;
				}
				.flickr_pagination .current {
					font-style: normal;
					font-weight: bold;
					color: #ff0084;
				}
				.flickr_pagination a {
					border: 1px solid #dddddd;
					color: #0063dc;
					text-decoration: none;
				}
				.flickr_pagination a:hover, .flickr_pagination a:focus {
					border-color: #003366;
					background: #0063dc;
					color: white;
				}
				.flickr_pagination .page_info {
					color: #aaaaaa;
					padding-top: 0.8em;
				}
				.flickr_pagination .previous_page, .flickr_pagination .next_page {
					border-width: 2px;
				}
				.flickr_pagination .previous_page {
					margin-right: 1em;
				}
				.flickr_pagination .next_page {
					margin-left: 1em;
				}
				.comments {
					border-top: 1px #fff dashed;
					margin: 0 15px;
					.comment {
						color: #B45F04;
						margin: 10px 0px;
						border: 1px #fff dotted	;
						padding: 5px;
						border-radius: 5px;
					}
				}
				.white-col {
					color: #FFF;
				}
				.time {
					font-size: 12px;
					color: #868A08;
				}
				.art-head {
					margin: 20px 10px;
					text-align: right;
					font-size: 35px;
					border-bottom: 1px #fff dashed;
					text-transform: capitalize;
				}
				ul, ol {
					margin-left: 20px;
					padding-left: 15px;
				}
				.tag-list {
					margin: 0 10px;
					padding: 10px;
					color: #FF0000;
				}
		}
	}
	@media (max-width: 992px) {
		body{
			width: 85%;
		}
	}
	@media (max-width: 768px) {
		body {
			background-image: none;
			margin: 30px 0px;
			width: 100%;
		}
	}
}
