-#***************************************************************************#
-#   Created by : Sourav Moitra                                              #
-#   email : astrosourav@gmail.com                                           #
-#   License : The MIT License (MIT)                                         #
-#   Date : October 5th 2014                                                 #
-#***************************************************************************#
%footer.footer.navbar-fixed-bottom
  %cite.footer-left Sourav Moitra &copy; 2014
  .footer-right
    = link_to "about", '/about'
    |
    = link_to 'contact', '/contact'
    |
    = link_to 'help', '/help'
